{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Beautyhouse | 404</title>
{% endblock title %}

{% block content %}
        
        <div class="error-area text-center ptb-100">
           <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="error-content ">
                            <h2>404</h2>
                            <h3>Page not found!</h3>
                            <h4>Oops! Looks like something going rong</h4>
                            <p>We can’t seem to find the page you’re looking for <br>
                                make sure that you have typed the currect URL</p>
                            <a class="go-home" href="index.html">Go to home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
{% endblock content %}