{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Beautyhouse | Mot de passe oublié</title>
{% endblock title %}

{% block content %}

        <!--Breadcrumbs start-->
        <div class="breadcrumbs text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs-title">
                            <h2>Contact us</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumbs-menu">
                <ul>
                    <li><a href="{% url 'index' %}">hOME <span>//</span></a></li>
                    <li>Login</li>
                </ul>
            </div>
        </div>

        <!--Contact form start-->
        <div class="contact-form ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="section-title text-center">
                            <h2>Connexion</h2>
                            <p>Connectez-vous pour une meilleure expérience.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 order-md-2">
                        <div class="contact-form-img text-center">
                            <img src="{% static 'images/common/contact.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 order-md-1">
                        <div class="contact-form">
                            <p class="form-messege"></p>
                            <form id="contact-form" action="{% url 'login' %}" method="post">
                                <input name="username" type="text" placeholder="Nom d'utilisateur">
                                <input name="password" type="password" placeholder="Mot de passe">
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Contact form end-->
        
{% endblock content %}